[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-cors = "*"
werkzeug = "*"
pyjwt = "*"
gunicorn = "*"
psycopg2-binary = "==2.9.9"
flask-sqlalchemy = "==3.0.3"

[dev-packages]

[requires]
python_version = "3.8"
